*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style-type: none;
}
body{
    background-color: rgba(36, 148, 163, 0.685);
    font-family: "Gill Sans", sans-serif;
}
.menu a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.menu li:hover {
    background-color:  rgb(192, 192, 231);
}

h1{
    text-transform: uppercase;
    font-size: 5rem;
    color: whitesmoke;
    text-align: center;
}

nav{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 40%;
    border: solid 2px whitesmoke;
    background-color: rgb(137, 137, 185);

}

.box{
    grid-area: box;
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: rgb(137, 137, 185);
    padding: 40px;
    border: solid whitesmoke 2px;
    border-radius: 20px;
}
  
.box h2{
      margin: 0 0 40px;
      padding: 0;
      color: whitesmoke;
      text-transform: uppercase;
      text-align: center;
}
  
.box input{
      padding: 10px 0;
      margin-bottom: 30px;
}
  
.box textarea{
      height: 80px;
      padding: 10px 0;
      margin-bottom: 40px;
}
  
.box input, .box textarea {
      width: 100%;
      box-sizing: border-box;
      box-shadow: none;
      outline: none;
      border: none;
      border-bottom: 2px solid #999;
}

  

  


.box form div label {
    display: block;
    font-size: 1.1rem;
    color: whitesmoke;
    margin-bottom: 5px;
}


input#submit:hover{
    background-color: rgb(192, 192, 231);
    transition: background-color 0.3s ease;
}
.box input[type="submit"]{
    font-size: 0.9em;
    border-bottom: none;
    cursor: pointer;
    background-color: rgba(36, 148, 163, 0.685);
    color: #FFF;
    margin-bottom: 0;
    text-transform: uppercase;
    border-radius: 5px;
}
