*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style-type: none;
}
body{
    background-color: rgba(36, 148, 163, 0.685);
    font-family: "Gill Sans", sans-serif;
}
.menu a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.menu li:hover {
    background-color:  rgb(192, 192, 231);
}

h1{
    text-transform: uppercase;
    font-size: 5rem;
    color: whitesmoke;
    text-align: center;
}

nav{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 40%;
    border: solid 2px whitesmoke;
    background-color: rgb(137, 137, 185);

}
.main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: solid whitesmoke 2px;
    background-color: rgb(137, 137, 185);
    color: whitesmoke;
    margin: 0 500px;
    padding: 30px;
    border-radius: 20px;
}

img{
    margin-top: 25px;
    margin-bottom: 25px;
    width: 30vw;
    
}


.text h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
}
.text h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
}
.text h4 {
    margin-bottom: 10px ;
}

p{
    font-size: 1.1rem;
    
}
span{
   color: rgb(212, 208, 208);
   font-weight: bold;
}